.footer {
  width: 100%;
}

.footer__content {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin: 0 auto;
  display: block;
  width: 115px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  padding-bottom: 60px;
  padding-top: 60px;
  opacity: 0.7;
}
